/*

File name: style.css
Description: Main stylesheet for the website layout and design.
Author: Filip Jernberg, David Åkerlind, Emund Liljestrand. 
Created: 2024-11-11
Last updated: 2024-11-11
Version: 1.0

    1. Font import
    2. Reset / Normalize
    3. Variables
    4. Basic styling
    5. Content Layout and Styling (grid, flexbox)

*/

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ==== Reset and Normalize ==== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ==== Color variables and Fonts ==== */
:root {
    --primary-color: #0a846e; /* Elf Green - Primary Color for backgrounds and main buttons. */
    --complementary-color: #9e6d52; /* Leather - Complemenatry Color for backgrounds. */
    --warning-color: #b93857; /* Night Shadz - Warning Color for text and color for NO-buttons. */
    --background-margin-color: #fcf6fc; /* Amour - Background Margin Color. */
    --background-color: #ffffff; /* White - Background Color. */
    --dark-text-color: #1e1e1e; /* Cod Gray - Dark Text Color. */
    --light-text-color: #ffffff; /* White - Light Text Color against dark background. */

    --text-maven-pro: Maven Pro, sans-serif; /* Maven Pro font, weight 500 */

    --text-open-sans: Open Sans, sans-serif; /* Open Sans font, weight 700 */

    --text-lato: Lato, sans-serif; /* Lato font, weight 600 */
}

/* ==== Basic styling ==== */
body {
    background-color: var(--background-margin-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin-inline: auto;
    background-color: var(--background-color);
    box-shadow: 0 2px 2px 0 #03382f1c;
}

.background-color-primary {
    background-color: var(--primary-color);
}

.background-color-complementary {
    background-color: var(--complementary-color);
}

h1 {
    font-family: var(--text-maven-pro);
    font-weight: 500;
    font-size: 3rem;
    color: var(--primary-color);
}

h2 {
    font-family: var(--text-open-sans);
}

h3 {
    font-family: var(--text-lato);
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-family: var(--text-open-sans);
}

.button {
    align-self: flex-end;
    border: none;
    color: var(--light-text-color);
    background-color: var(--primary-color);
    padding: 1rem 3rem;
    box-shadow: 0 5px 6px 1px #0000001c;
    font-family: var(--text-open-sans);
    font-weight: 700;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(0.95); /* Gör knappen 5% mindre */
}

/* ==== Header Component ==== */
.header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.header-figure-container:nth-child(1) {
    background-image: url("https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1 / span 2;
}

.header-figure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
}
.header-figure-container > img {
    padding: 2rem;
    max-height: 250px;
}

/* INSERT BURGER MENU */
.burger {
    display: none;
}

/* ==== Navigation Bar ==== */

.navigation {
    width: 100%;
    position: sticky;
    background-color: var(--background-color);
    top: 0;
}

.navigation-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    list-style: none;
    box-shadow: 0 4px 4px 0 #03382f1c;
    transition: all 0.5s ease-in-out;
}

.navigation-links > a {
    padding: calc(1rem - 2px) 2rem;
    text-decoration: none;
    font-family: var(--text-maven-pro);
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--primary-color);
}

.navigation-links > a:hover {
    border-bottom: 2px solid var(--primary-color);
}

/* ==== Main Content ==== */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.main-article-section {
    margin-top: 2rem;
    display: flex;
}

.main-figure-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999rem;
    margin-right: 3rem;
}

.main-figure-container > img {
    margin: 3rem;
    padding: 3rem;
}

.sowing-tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.sowing-tips > h2 {
    font-weight: 700;
    font-size: 2rem;
}

.sowing-tips > p {
    font-weight: 400;
    padding-bottom: 1rem;
}
/* Button is styled in "basic - styling" -part of code */
hr {
    height: 3px;
    margin: 5rem 0;
    width: 40%;
    background-color: #055647;
    border-radius: 999rem;
    border: none;
}

/* h3 is styled in "basic - styling" -part of code */
